.contact-wrapper {
  font-family: "Poppins", sans-serif;
}
.queries {
  font-weight: 600;
  color: #204066;
}
.map {
  /* min-width: 40%; */
  margin-right: 40px;
}

@media only screen and (max-width: 992px) {
  .map {
    margin-right: 0 !important;
  }
}
@media only screen and (max-width: 480px) {
  .map {
    min-width: 200px;
    margin-bottom: 10px !important;
  }
}
