.footer {
  background-color: #0b223d;
  padding: 60px 0;
  font-family: "Roboto", sans-serif;
}
.footer-icon-logo {
  width: 300px;
}

.footer-icons svg {
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.footer-icons svg:hover {
  color: #61ce70;
  transform: scale(1.3);
}
.useful-links {
  width: 300px;
}
.useful-links a {
  text-decoration: none;
  color: #fff;
  margin: 8px 0;
  width: fit-content;
}
.useful-links a:hover {
  color: #61ce70;
}
.subscribe {
  width: 320px;
}
.subscribe input {
  padding: 12px 10px;
  margin: 15px 0;
  outline: none;
  border: none;
  border-radius: 8px;
}
