.login-form {
  width: 350px;
  height: 60vh;
  font-family: "Roboto", sans-serif;
}
.input {
  min-width: 350px;
  border: 2px solid #f1f1f1;
  outline: none;
  line-height: 30px;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  color: #204066;
}
::-webkit-input-placeholder {
  color: #7a7a7a;
}
.submit {
  width: 100%;
  font-size: 20px;
}
label {
  font-size: 18px;
  color: #204066;
}
.new-here {
  color: #204066;
}
.new-here:hover {
  color: #61ce70;
}

@media only screen and (max-width: 480px) {
  .login-form {
    width: 270px;
  }
  .input {
    min-width: 270px;
  }
}
@media only screen and (max-width: 300px) {
  .login-form {
    width: 250px;
  }
  .input {
    min-width: 250px;
  }
}
